body {
    font-family: Arial, sans-serif;
    background-color: #ecf0f1;
    color: #2c3e50;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    color: #2c3e50;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #2c3e50;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #2980b9;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

input[type="submit"]:hover {
    background-color: #3498db;
}

button {
    background-color: #2980b9;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #3498db;
}

/* Estilo para el Panel de Control */
h3 {
    color: #2c3e50;
    margin-top: 20px;
}

#filters {
    margin-bottom: 20px;
}

#filters label {
    margin-right: 10px;
    font-weight: bold;
}

#filters input, #filters select {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #2980b9;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilos para la página de bienvenida */
.container {
    text-align: center;
    margin-top: 100px;
}

h1 {
    color: #2c3e50;
    margin-bottom: 20px;
}

p {
    color: #2980b9;
    margin-bottom: 30px;
    font-size: 18px;
}

.buttons .btn {
    display: inline-block;
    background-color: #2980b9;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    margin: 0 10px;
}

.buttons .btn:hover {
    background-color: #3498db;
}
