<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a Gestión de Tareas</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Bienvenido a Gestión de Tareas</h1>
        <p>Gestiona tus tareas de manera eficiente y sencilla.</p>
        <div class="buttons">
            <a href="register.html" class="btn">Registrarse</a>
            <a href="login.html" class="btn">Iniciar Sesión</a>
            <!-- Enlace al panel de control para fines de desarrollo -->
            <a href="dashboard.html" class="btn">Ir al Panel de Control</a>
        </div>
    </div>

    <footer>
        <p style="margin-top: 50px; text-align: center; font-size: 12px; color: #7f8c8d;">
            Desarrollado por Melissa Beltran para CESDE 2024
        </p>
    </footer>
</body>
</html>
