<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a Gestión de Tareas</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <h1 class="logo">Menú Rápido</h1>
                <ul class="nav-links">
                    <li><a href="register.html">Registrarse</a></li>
                    <li><a href="login.html">Iniciar Sesión</a></li>
                    <li><a href="dashboard.html">Ir al Panel de Control</a></li>
                </ul>
            </div>
        </nav>
    </header>
    
    <main class="hero">
        <div class="container">
            <h1>Bienvenido a Gestión de Tareas</h1>
            <p>Gestiona tus tareas de manera eficiente y sencilla.</p>
            <div class="buttons">
                <a href="register.html" class="btn btn-primary">Registrarse</a>
                <a href="login.html" class="btn btn-secondary">Iniciar Sesión</a>
                <a href="dashboard.html" class="btn btn-info">Ir al Panel de Control</a>
            </div>
        </div>
    </main>

    <footer>
        <div class="container">
            <p>
                Desarrollado por Melissa Beltran para CESDE 2024
            </p>
        </div>
    </footer>
</body>
</html>
